dinosaurios{
  background-color:hsla(0,100%,50%,0.5);
}

carnivoro {
  	font-family: "Times New Roman", Times, serif;
  	text-align: center;
}
  
nombre {
  	display: block;
  	font-size: 40px;
  	font-weight: bold;
  	background-color: red;
  	color: white;
}
 
info {
  	display: block;
  	font-size: 40px;
  	font-weight: bold;
}
  
  vida {
  	display: block;
    font-family: Courier, "Lucida Console", monospace;
  	font-size: 50px;
}
 
pais {
	display: block;
  font-family: Courier, "Lucida Console", monospace;
  	font-size: 50px;
 }
